<%= render 'layouts/carousel' %>

<div class="hero-unit">
  <h1>Welcome to One Month Rails</h1>
  <p>You found the home page. Find me in app/views/pages/home.html.erb
		<%= link_to "One Month Railes", "http://onemonthrails.com" %>
	</p>
  <p>
    <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
  </p>
</div>