$navbarBackgroundHighlist: white;
$navbarBackground: white;
$btnPrimaryBackground: green;

@import 'bootstrap';
@import 'bootstrap-responsive';
 /*
$baseFontFamily: Oxygen;
@import	url(http://fonts.googleapis.com/css?family=Oxygen);
*/

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -100px;
}

.main-content {
  margin-top:50px;
}

.navbar-inner {
	@include box-shadow(none !important);
	border: 0;
}

/* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 60px;
}

.carousel .container {
  position: relative;
  z-index: 9;
}

.carousel-control {
  height: 80px;
  margin-top: 0;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  background-color: transparent;
  border: 0;
  z-index: 10;
}

.carousel .item {
  height: 500px;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.carousel-caption {
  background-color: transparent;
  position: static;
  max-width: 550px;
  padding: 0 20px;
  margin-top: 200px;
}
.carousel-caption h1,
.carousel-caption .lead {
  margin: 0;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
  margin-top: 10px;
}

#push {
	height:100px;
}

footer {
	height: 100px;
	background-color: #484848;
	color:$grayLight;
	a {
		color:$grayDark;
	}
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}