<footer>
	<div class="container">
		<small>
			<%= link_to "One Month Railes", "http://onemonthrails.com" %>
			by <%= link_to "One Month Railes", "http://onemonthrails.com" %>
		</small>
	</div>
</footer>